@model IEnumerable<Blogger.Entities.Post>
@{
    ViewData["Title"] = "All Posts";
}

<h1>All Posts</h1>

@foreach (var post in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h3><a asp-action="PostDetail" asp-route-id="@post.Id">@post.Title</a></h3>
            @if (User.Identity.Name == post.User.Username)
            { 
            <form asp-action="DeletePost" asp-route-id="@post.Id" method="post" class="float-end">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            }
        </div>
        <div class="card-body">
            <p>@post.Content</p>
            <p><small>Posted on: @post.PostedDate <u>Posted by @(post.User != null ? post.User.Username : "Unknown")</u></small></p>
        </div>
        <div class="card-footer">
            <p>Comments (@post.Comments.Count)</p>
            
            @foreach (var comment in post.Comments)
            {
                <p style="display: inline-block;">
                    @comment.Text
                    @if (User.Identity.Name == post.User.Username){
                    <form asp-action="DeleteComment" asp-controller="Comment" method="post" style="display: inline-block; margin-left: 10px;">
                        <input type="hidden" name="id" value="@comment.Id" />
                        <button type="submit" style="background: none; border: none;">
                            <img alt="delete" src="~/Images/delete.png" style="width: 20px; height: 20px;" />
                        </button>
                    </form>
                    }
                </p>

                
            }
            <form asp-action="CreateComment" asp-controller="Comment" method="post">
                <div class="form-group">
                    <label class="control-label">Add a Comment:</label>
                    <textarea name="text" class="form-control" rows="3"></textarea>
                    <span class="text-danger"></span>
                </div>
                <input type="hidden" name="postId" value="@post.Id" />
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
}
