@model IEnumerable<Blogger.Entities.Post>
@{
    ViewData["Title"] = "All Posts";
}

<h1>All Posts</h1>

@foreach (var post in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h3>@post.Title</h3>
            <form asp-action="DeletePost" asp-route-id="@post.Id" method="post" class="float-end">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
        <div class="card-body">
            <p>@post.Content</p>
            <p><small>Posted on: @post.PostedDate <u>Posted by @(post.User != null ? post.User.Username : "Unknown")</u></small></p>
        </div>
        <div class="card-footer">
            <p>Comments (@post.Comments.Count)</p>
            @foreach (var comment in post.Comments)
            {
                <p>
                    @comment.Text 
                        <form asp-action="DeleteComment" asp-controller="Comment" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@comment.Id" />
                            <button type="submit" style="background:none;border:none;">
                                <img alt="delete" src="../Images/delete.png" style="width:100px; height:100px;" />
                            </button>
                        </form>
                    
                </p>
                
            }


            <form asp-action="CreateComment" asp-controller="Comment" method="post">
                <div class="form-group">
                    <label class="control-label">Add a Comment:</label>
                    <textarea name="text" class="form-control" rows="3"></textarea>
                    <span class="text-danger"></span>
                </div>
                <input type="hidden" name="postId" value="@post.Id" />
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
}
