@using System.Security.Claims

@model Blogger.Entities.User
@{
    ViewData["Title"] = "ProfileDetail";
    var changePasswordModel = ViewBag.ChangePasswordModel as Blogger.Models.ChangePasswordViewModel;
}

<h2>Username: @Model.Username</h2>
<h4>Password: ******</h4>
@if (Model.Id.ToString() == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
{
    <h2>Change Username</h2>
    <form asp-action="ChangeUsername" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <h2>Change Password</h2>
    <form asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label for="NewPassword" class="control-label">New Password</label>
            <input id="NewPassword" name="NewPassword" class="form-control" type="password" />
            <span class="text-danger">@Html.ValidationMessage("NewPassword")</span>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="control-label">Confirm Password</label>
            <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" />
            <span class="text-danger">@Html.ValidationMessage("ConfirmPassword")</span>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}
else
{
    <h2>Paylaşımlar</h2>
    @foreach (var post in Model.Posts)
    {
        <div>
            <h3>@post.Title</h3>
            <p>@post.Content</p>
        </div>
    }

    <h2>Yorumlar</h2>
    @foreach (var comment in Model.Comments)
    {
        <div>
            <p>@comment.Text</p>
        </div>
    }
}

