@model DataLayer.Entities.User

@{
    ViewData["Title"] = "ProfileDetail";
    var changePasswordModel = new Blogger.Models.Responses.ChangePasswordResponseModel { Id = Model.Id };
}

<h2>Username: @Model.Username</h2>
<h4>Password: ******</h4>


<h2>Change Password</h2>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="NewPassword" class="control-label">New Password</label>
        <input asp-for="@changePasswordModel.NewPassword" class="form-control" />
        <span asp-validation-for="@changePasswordModel.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="control-label">Confirm Password</label>
        <input asp-for="@changePasswordModel.ConfirmPassword" class="form-control" />
        <span asp-validation-for="@changePasswordModel.ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="@changePasswordModel.Id" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<h2>Posts</h2>
@foreach (var post in Model.Posts)
{
    <div>
        <h3>@post.Title</h3>
        <p>@post.Content</p>
    </div>
}

<h2>Comments</h2>
@foreach (var comment in Model.Comments)
{
    <div>
        <p>@comment.Text</p>
    </div>
}
